@font-face {
  font-family: "OpenSans-light";
  font-weight: "300";
  font-style: normal;
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-regular";
  font-weight: "400";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-bold";
  font-weight: "600";
  font-style: normal;
  src: url("../fonts/OpenSans-bold.eot");
  src: url("../fonts/OpenSans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Semibold";
  font-weight: "700";
  font-style: normal;
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-ExtraBold";
  font-weight: "800";
  font-style: normal;
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuMono-regular";
  font-weight: "300";
  font-style: normal;
  src: url("../fonts/UbuntuMono-Regular.eot");
  src: url("../fonts/UbuntuMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuMono-bold";
  font-weight: "600";
  font-style: normal;
  src: url("../fonts/UbuntuMono-Bold.eot");
  src: url("../fonts/UbuntuMono-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans-medium";
  font-weight: "500";
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans-semibold";
  font-weight: "700";
  font-style: normal;
  src: url("../fonts/museo-sans-semibold.eot");
  src: url("../fonts/museo-sans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-sans-semibold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans-extrabold";
  font-weight: "900";
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNova-regular";
  font-weight: "400";
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNova-bold";
  font-weight: "600";
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); }

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0; }

h1, h2, h4 {
  font-family: "MuseoSans-extrabold", sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

h1 {
  font-size: 64px;
  line-height: 1.17; }

h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 26px; }

h3 {
  font-family: "UbuntuMono-bold" , sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.33; }

h4 {
  font-size: 22px;
  line-height: 1.27; }

p, li {
  font-weight: 400;
  font-family: "OpenSans-regular", sans-serif;
  font-size: 18px;
  line-height: 1.45; }

h5 {
  font-family: "ProximaNova-regular", sans-serif; }

.container {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 26px; }
  @media all and (max-width: 999px) {
    .container {
      padding: 0 26px; } }
  @media all and (max-width: 767px) {
    .container {
      padding: 0 16px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1; }

button, a {
  outline: none; }

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

b,
strong {
  font-weight: bold; }

ul, ol {
  list-style: none; }

.body-overflow {
  overflow: hidden; }

.fw {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.site-button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 23px 29px;
  text-transform: uppercase;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(#f03219), color-stop(30%, rgba(255, 179, 26, 0.95)), color-stop(35%, rgba(255, 179, 26, 0.94)), color-stop(61%, rgba(253, 104, 41, 0.89)), color-stop(89%, rgba(251, 24, 58, 0.89)), to(rgba(251, 24, 58, 0.89)));
  background: -webkit-linear-gradient(left, #f03219 0%, rgba(255, 179, 26, 0.95) 30%, rgba(255, 179, 26, 0.94) 35%, rgba(253, 104, 41, 0.89) 61%, rgba(251, 24, 58, 0.89) 89%, rgba(251, 24, 58, 0.89) 100%);
  background: -o-linear-gradient(left, #f03219 0%, rgba(255, 179, 26, 0.95) 30%, rgba(255, 179, 26, 0.94) 35%, rgba(253, 104, 41, 0.89) 61%, rgba(251, 24, 58, 0.89) 89%, rgba(251, 24, 58, 0.89) 100%);
  background: linear-gradient(to right, #f03219 0%, rgba(255, 179, 26, 0.95) 30%, rgba(255, 179, 26, 0.94) 35%, rgba(253, 104, 41, 0.89) 61%, rgba(251, 24, 58, 0.89) 89%, rgba(251, 24, 58, 0.89) 100%);
  background-size: 170%;
  background-position: 70%;
  border: none;
  color: #fff;
  letter-spacing: 0.065em;
  font-family: MuseoSans-extrabold, sans-serif;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
  border-radius: 5px; }
  .site-button:hover {
    background-position: 20%;
    background-size: 150%; }
  .site-button:active {
    background-size: 300%;
    background: -webkit-gradient(linear, left top, right top, from(#f03219), color-stop(30%, #ffb31a), color-stop(35%, #ffb31a), color-stop(89%, #fb183a), to(#fb183a));
    background: -webkit-linear-gradient(left, #f03219 0%, #ffb31a 30%, #ffb31a 35%, #fb183a 89%, #fb183a 100%);
    background: -o-linear-gradient(left, #f03219 0%, #ffb31a 30%, #ffb31a 35%, #fb183a 89%, #fb183a 100%);
    background: linear-gradient(to right, #f03219 0%, #ffb31a 30%, #ffb31a 35%, #fb183a 89%, #fb183a 100%); }

.b-title h2 {
  position: relative;
  display: inline-block; }
  .b-title h2::before {
    content: "";
    position: relative;
    top: 6px;
    left: 0;
    background-color: #00bbd3;
    display: inline-block;
    width: 26px;
    height: 6px; }

.b-title__text {
  max-width: 430px;
  width: 100%;
  margin-left: auto; }
  .b-title__text p {
    text-align: right;
    margin-bottom: 4px;
    line-height: 1.3; }
    .b-title__text p span {
      background-color: #242427;
      color: #00bbd3;
      font-size: inherit;
      text-transform: uppercase;
      padding: 5px 9px;
      margin-left: 4px;
      font-weight: 900;
      font-family: "MuseoSans-extrabold", sans-serif; }

.b-title__divider {
  width: 100%;
  height: 4px;
  background-color: #242427; }

img {
  display: block;
  width: 100%;
  height: auto; }

.s_hero {
  width: 40px;
  height: 40px;
  background-color: #0000FF; }

.s_full__header {
  max-width: 946px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: -14.326px 46.859px 58px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -14.326px 46.859px 58px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-top: 80px;
  padding-bottom: 490px;
  padding-left: 95px;
  padding-right: 95px; }
  .s_full__header::before {
    position: absolute;
    top: -25px;
    left: -45px; }

.s_area__wrap {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: red; }

.s_area__block {
  max-width: 100%;
  width: 100%; }

.s_area__text {
  max-width: 50%;
  width: 50%; }

.s_area__img-wr {
  height: 76px; }
