@font-face {
  font-family: "OpenSans-light";
  font-weight: "300";
  font-style: normal;
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-regular";
  font-weight: "400";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-bold";
  font-weight: "600";
  font-style: normal;
  src: url("../fonts/OpenSans-bold.eot");
  src: url("../fonts/OpenSans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Semibold";
  font-weight: "700";
  font-style: normal;
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-ExtraBold";
  font-weight: "800";
  font-style: normal;
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuMono-regular";
  font-weight: "300";
  font-style: normal;
  src: url("../fonts/UbuntuMono-Regular.eot");
  src: url("../fonts/UbuntuMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuMono-bold";
  font-weight: "600";
  font-style: normal;
  src: url("../fonts/UbuntuMono-Bold.eot");
  src: url("../fonts/UbuntuMono-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans-medium";
  font-weight: "500";
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans-semibold";
  font-weight: "700";
  font-style: normal;
  src: url("../fonts/museo-sans-semibold.eot");
  src: url("../fonts/museo-sans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-sans-semibold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans-extrabold";
  font-weight: "900";
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNova-regular";
  font-weight: "400";
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNova-bold";
  font-weight: "600";
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); }

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0; }

h1, h2, h4 {
  font-family: "MuseoSans-extrabold", sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

h1 {
  font-size: 64px;
  line-height: 1.17; }

h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 26px; }

h3 {
  font-family: "UbuntuMono-bold" , sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.33; }

h4 {
  font-size: 22px;
  line-height: 1.27; }

p, li {
  font-weight: 400;
  font-family: "OpenSans-regular", sans-serif;
  font-size: 18px;
  line-height: 1.45; }

h5 {
  font-family: "ProximaNova-regular", sans-serif; }

.container {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 26px; }
  @media all and (max-width: 999px) {
    .container {
      padding: 0 26px; } }
  @media all and (max-width: 767px) {
    .container {
      padding: 0 16px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1; }

button, a {
  outline: none; }

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

b,
strong {
  font-weight: bold; }

ul, ol {
  list-style: none; }

.body-overflow {
  overflow: hidden; }

.fw {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.site-button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 23px 29px;
  text-transform: uppercase;
  line-height: 1;
  background: linear-gradient(to right, #f03219 0%, rgba(255, 179, 26, 0.95) 30%, rgba(255, 179, 26, 0.94) 35%, rgba(253, 104, 41, 0.89) 61%, rgba(251, 24, 58, 0.89) 89%, rgba(251, 24, 58, 0.89) 100%);
  background-size: 170%;
  background-position: 70%;
  border: none;
  color: #fff;
  letter-spacing: 0.065em;
  font-family: MuseoSans-extrabold, sans-serif;
  transition: all .4s;
  cursor: pointer;
  border-radius: 5px; }
  .site-button:hover {
    background-position: 20%;
    background-size: 150%; }
  .site-button:active {
    background-size: 300%;
    background: linear-gradient(to right, #f03219 0%, #ffb31a 30%, #ffb31a 35%, #fb183a 89%, #fb183a 100%); }

.b-title h2 {
  position: relative; }
  .b-title h2::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    background-color: #00bbd3;
    width: 26px;
    height: 6px; }

.b-title__text {
  max-width: 430px;
  width: 100%; }
  .b-title__text p {
    text-align: right; }
    .b-title__text p span {
      background-color: #242427;
      color: #00bbd3;
      font-size: inherit;
      padding: 0 2px; }

img {
  display: block;
  width: 100%;
  height: auto; }

.line {
  width: 120px;
  border: 1px solid #00bcd4; }

.bold-line {
  max-widht: 575px;
  width: 100%;
  border: 7px solid #00bcd4;
  margin-bottom: 35px;
  margin-left: 16px; }

.s_hero {
  width: 1920px;
  position: relative;
  background-color: #2a2a2f;
  justify-content: flex-start; }
  .s_hero__img1 {
    position: absolute;
    left: 0; }
  .s_hero__title {
    position: absolute;
    top: 33px;
    left: 80px;
    justify-content: flex-start;
    max-width: 400px;
    width: 100%;
    z-index: 1; }
  .s_hero__logo {
    padding-top: 10px; }
  .s_hero__name {
    margin-left: 20px;
    color: #fff; }
  .s_hero__text {
    width: 165px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600; }
  .s_hero__help {
    padding-top: 15px;
    font-size: 14px; }
  .s_hero__time {
    position: absolute;
    top: 460px;
    left: -243px;
    width: 650px;
    justify-content: flex-start;
    align-items: center;
    transform: rotate(90deg);
    z-index: 2; }
    .s_hero__time p {
      margin-left: 10px;
      color: #fff;
      font-size: 18px; }
      .s_hero__time p span {
        color: #00bcd4;
        font-size: 23px; }
  .s_hero__wrapper {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .s_hero__left {
    position: relative;
    width: 590px;
    padding-top: 282px;
    color: #fff;
    margin-right: 1px; }
  .s_hero__work {
    max-width: 410px;
    width: 100%;
    margin-left: 108px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600; }
  .s_hero__after {
    max-width: 410px;
    width: 100%;
    margin-left: 108px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: right;
    color: #bababa; }
  .s_hero h1 {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 89px; }
    .s_hero h1 span {
      color: #00bcd4; }
  .s_hero .stack {
    position: absolute;
    top: 88%;
    margin-top: 4px;
    left: -138px; }
  .s_hero__graduates {
    margin-bottom: 61px; }
    .s_hero__graduates p {
      font-size: 16px; }
      .s_hero__graduates p span {
        font-weight: bold; }
    .s_hero__graduates .company {
      font-weight: bold;
      mar-bottom: 89px; }
      .s_hero__graduates .company span {
        color: #00bcd4; }
  .s_hero__right {
    position: relative;
    width: 550px;
    padding-left: 66px;
    color: #fff;
    z-index: 1; }
  .s_hero__head {
    justify-content: flex-end;
    margin-bottom: 290px; }
  .s_hero__start {
    position: absolute;
    top: 105px;
    left: -50px;
    transform: rotate(90deg); }
    .s_hero__start .in-start {
      width: 240px; }
    .s_hero__start p {
      width: 250px;
      font-size: 22px;
      font-weight: bold;
      text-align: right; }
      .s_hero__start p span {
        color: #00bcd4;
        font-size: 18px; }
  .s_hero__trainig {
    color: #242427;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px; }
  .s_hero__tel {
    margin-bottom: 17px; }
  .s_hero a {
    font-size: 20px;
    font-weight: bold;
    color: #00bcd4;
    font-family: Arial; }
  .s_hero .in-entry {
    position: absolute;
    top: 87px;
    width: 260px; }
  .s_hero__set {
    font-size: 16px;
    color: #bababa; }
    .s_hero__set span {
      color: #fff;
      font-weight: bold; }
  .s_hero__project h4 {
    width: 170px;
    margin-bottom: 14px; }
  .s_hero__project .line {
    width: 240px;
    border: 1px solid #bababa;
    margin-bottom: 35px; }
  .s_hero__project li {
    font-size: 18px;
    width: 170px;
    margin-bottom: 30px; }
    .s_hero__project li::before {
      content: "<_";
      position: absolute;
      left: 42px;
      font-size: 22px;
      color: #00bcd4;
      font-weight: bold; }
  .s_hero__box {
    position: absolute;
    max-width: 550px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #242427;
    padding: 42px 0 39px 63px;
    z-index: -1; }
  .s_hero__img2 {
    position: relative;
    width: 402px;
    height: 760px;
    margin-bottom: 47px;
    top: 0;
    left: 294px; }
  .s_hero__button {
    max-width: 295px;
    width: 100%;
    position: relative; }
    .s_hero__button div {
      width: 40px;
      height: 40px;
      position: absolute; }
    .s_hero__button button {
      padding: 17px 25px 17px 25px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #00bcd4;
      border: none; }
    .s_hero__button .left {
      left: -13px;
      top: 20px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff; }
    .s_hero__button .right {
      left: 230px;
      top: -10px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff; }

.s__area {
  background-color: blue; }

.s__area-header, .s__area-block {
  max-width: 100%;
  width: 100%; }
