.s_area
    &__wrap 
        max-width: 100%
        width: 100%
        display: flex
        flex-wrap: wrap 
        background-color: red
          
    &__block
         max-width: 100%
         width: 100%
    &__text
         max-width: 50%
         width: 50%
       
    &__img-wr
        height: 76px
        
// .s_area__img-wr
//     img
//        height: 76px
//        width: auto