.s_full
      &__bg
      &__head-wr
            position: relative
            transform: translate(-90px, -77px)
      &__header
            max-width: 946px
            width: 100%
            background-color: $white
            box-shadow: -14.326px 46.859px 58px 0px rgba(0, 0, 0, 0.15)
            padding-top: 80px
            padding-bottom: 490px
            padding-left: 95px
            padding-right: 95px
            position: relative
            z-index: 1
            
            // &::before
            //       content: ""
            //       position: absolute
            //       left: -45px
            //       top: -25px
            //       width: 320px
            //       height: 830px
            //       background-image: url(../img/full-before.jpg)
            //       background-repeat: repeat
            //       background-position: center
            //       z-index: 0
      &__before
            position: absolute
            top: 0
            left: 0
            width: 320px
            height: 830px
            display: block
            background-image: url(../img/full-before.jpg)
            background-repeat: repeat
            background-position: center
            transform: translate(-45px, -25px)
      &__title
            max-width: 540px
            width: 100%
            position: relative
            &::before
                  position: relative
                  display: block
                  top: 0
                  left: 0
                  transform: translatex(-50%)
                  content: ""
                  background-color: $cyan
                  height: 1px
                  width: 100%
                  margin-bottom: 17px
      &__vert
            position: absolute
            top: 0
            right: -40px
            transform: rotate(90deg) translatey(-200px)
            transform-origin: 5% 40%
            p
                  text-transform: uppercase
                  font-size: 14px
                  font-weight: bold
                  max-width: 200px
                  width: 100%
                  font-family: "OpenSans-Extrabold", sans-serif
                  font-weight: 800
            span
                  font-family: inherit
                  text-transform: uppercase
                  font-size: inherit
                  color: $cyan
                  font-weight: inherit
      &__main
            transform: translateY(-285px)
            max-width: 1076px
            width: 100%
            box-shadow: -14.326px 46.859px 58px 0px rgba(0, 0, 0, 0.15)
            background-color: #fff
            margin-left: auto
            padding-right: 93px
            padding-left: 28px
            padding-bottom: 55px
            position: relative
            overflow: hidden
            &::before
                  position: absolute
                  left: 0
                  bottom: 0
                  transform: translateY(-5%)
                  width: 200px
                  height: 300px
                  content: url(../img/full-main-bg.png)
                  display: block
      &__wr
            // transform: translateY(-330px)
            align-items: flex-end
            margin-bottom: 35px
      &__block
            max-width: 49%
            width: 100%
      &__img
      &__text-wr
            // transform: translateY(-330px)
            max-width: 100%
            width: 100%
            margin-bottom: 100px
      &__text
            max-width: 360px
            width: 100%
            margin: 0 auto
            h5
                  text-align: center
                  font-size: 24px
                  font-family: "MuseoSans-extrabold", sans-serif
                  font-weight: 900
                  text-align: center
                  margin-bottom: 27px
                  text-transform: uppercase
                  position: relative
                  &::after
                        content: ""
                        position: absolute
                        width: 110px
                        height: 3px
                        background-color: $cyan
                        left: 50%
                        bottom: -12px
                        transform: translateX(-50%)
            p
                  text-align: center
                  font-size: 16px
                  font-weight: bold
                  font-family:  'OpenSans-Extrabold', sans-serif
                  span
                        font-weight: 500
                        font-family: 'OpenSans-regular', sans-serif
      &__button
            flex-direction: column
            max-width: 600px
            margin-left: auto
            button
                  margin: 0 auto
      &__button-text
            margin-bottom: 55px
            h5
                  text-transform: uppercase
                  font-size: 22px
                  font-family: 'UbuntuMono-bold', sans-serif
                  font-weight: 900
                  margin-bottom: 5px
                  span
                        color: $gray
                        background-color: $cyan
                        padding: 5px 9px
            p
                  font-size: 18px
                  font-family: 'UbuntuMono-bold', sans-serif
                  font-weight: 900
                  text-align: right
                  letter-spacing: 0.065em
