.line 
	width: 120px
	border: 1px solid #00bcd4
.s_hero
	background-color: #2a2a2f
	padding: 33px 80px 89px 80px
	&__title
		justify-content: flex-start
		// margin-buttom: 47px
	&__logo
		padding-top: 10px
	&__name		
		margin-left: 20px
		color: $white
	&__text
		width: 165px		
		text-transform: uppercase
		font-size: 15px
		font-weight: 600
	&__help
		padding-top: 15px
		font-size: 14px
	&__time	
		position: absolute	
		top: 100%
		margin-top: 137px
		width: 650px
		justify-content: flex-start
		align-items: center
		transform: rotate(90deg)
		p
			margin-left: 10px
			color: $white
			font-size: 18px
			span
				color: #00bcd4
				font-size: 23px
