@import "variables"
@import "typography"
@import "helpers"


.container
  max-width: 1200px
  width: 100%
  position: relative
  margin: 0 auto
  padding: 0 26px
  +r(999)
    padding: 0 26px
  +r(767)
    padding: 0 16px

*
  margin: 0
  padding: 0
  box-sizing: border-box
  line-height: 1


button, a
  outline: none


a
  text-decoration: none
  color: inherit
  background-color: transparent
  -webkit-text-decoration-skip: objects

b,
strong
  font-weight: bold

ul,ol
  list-style: none


.body-overflow
  overflow: hidden

.fw
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  align-items: flex-start


.site-button
  text-transform: uppercase
  font-size: 16px
  padding: 23px 29px
  text-transform: uppercase
  line-height: 1
  background: $grad
  background-size: 170%
  background-position: 70%
  border: none
  color: $white
  letter-spacing: 0.065em
  font-family: MuseoSans-extrabold, sans-serif
  transition: all .4s
  cursor: pointer
  border-radius: 5px
  &:hover
    background-position: 20%
    background-size: 150%
  &:active
    background-size: 300%
    background: $grad-active

  img
    display: block
    width: 100%
    height: auto