$white: #fff
$cyan: #00bbd3


$grad: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(255,179,27,1) 0%, rgba(255,179,27,1) 0%, rgba(255,179,27,1) 34%, rgba(251,26,59,1) 69%, rgba(251,26,59,1) 100%)